In [2]:
import pandas as pd

In [3]:
filename = "US_Cities" + ".txt"
path = "C:/Users/tokud/OneDrive/Documents/Machine Learning - UCSD Extension Springboard Course/Capstone/Datasets/" + filename

column_names = [
    "country_code", "zip_code", "city", "state", "state_abbreviation", 
    "county", "county_code", "admin2", "admin3", "latitude", "longitude", "accuracy"
]

df = pd.read_csv(path, sep="\t", header=None, names=column_names)
df.shape

(41484, 12)

In [4]:
florida_df = df[df['state_abbreviation'] == 'FL']
florida_df.shape

(1473, 12)

In [5]:
fl_subset = florida_df[['zip_code', 'city']]

In [6]:
filename = "FL_Restaurants_Reviews" + ".csv"
path = "C:/Users/tokud/OneDrive/Documents/Machine Learning - UCSD Extension Springboard Course/Capstone/Datasets/" + filename

chunk_iterator = pd.read_csv(path, chunksize=10000)

chunks = []

for chunk in chunk_iterator:
  chunks.append(chunk)

df_reviews = pd.concat(chunks, ignore_index=True)
df_reviews.shape

(792133, 22)

In [7]:
merged_df = df_reviews.merge(fl_subset, how='left', left_on='postal_code', right_on='zip_code', suffixes=('_original', '_updated'))
merged_df.shape

(792133, 24)

In [8]:
selected_fields = ['business_id', 'name', 'city_original', 'state', 'postal_code', \
    'stars_business', 'review_count', 'stars_reviews', 'zip_code', 'city_updated']

merged_df[selected_fields]

,business_id,name,city_original,state,postal_code,stars_business,review_count,stars_reviews,zip_code,city_updated
0,eEOYSgkmpB90uNA7lDOMRA,Vietnamese Food Truck,Tampa Bay,FL,33602.0,4.0,10,5,33602.0,Tampa
1,eEOYSgkmpB90uNA7lDOMRA,Vietnamese Food Truck,Tampa Bay,FL,33602.0,4.0,10,5,33602.0,Tampa
2,eEOYSgkmpB90uNA7lDOMRA,Vietnamese Food Truck,Tampa Bay,FL,33602.0,4.0,10,3,33602.0,Tampa
3,eEOYSgkmpB90uNA7lDOMRA,Vietnamese Food Truck,Tampa Bay,FL,33602.0,4.0,10,4,33602.0,Tampa
4,eEOYSgkmpB90uNA7lDOMRA,Vietnamese Food Truck,Tampa Bay,FL,33602.0,4.0,10,1,33602.0,Tampa
...,...,...,...,...,...,...,...,...,...,...
792128,esBGrrmuZzSiECyRBoKvvA,Colony Grill - St. Petersburg,St. Petersburg,FL,33701.0,4.5,38,2,33701.0,Saint Petersburg
792129,esBGrrmuZzSiECyRBoKvvA,Colony Grill - St. Petersburg,St. Petersburg,FL,33701.0,4.5,38,5,33701.0,Saint Petersburg
792130,esBGrrmuZzSiECyRBoKvvA,Colony Grill - St. Petersburg,St. Petersburg,FL,33701.0,4.5,38,5,33701.0,Saint Petersburg
792131,esBGrrmuZzSiECyRBoKvvA,Colony Grill - St. Petersburg,St. Petersburg,FL,33701.0,4.5,38,5,33701.0,Saint Petersburg
792132,esBGrrmuZzSiECyRBoKvvA,Colony Grill - St. Petersburg,St. Petersburg,FL,33701.0,4.5,38,5,33701.0,Saint Petersburg

In [9]:
merged_df['city_updated'].value_counts()

Tampa                 309379
Saint Petersburg      166648
Clearwater             44958
Brandon                30152
Clearwater Beach       29577
Largo                  18641
Dunedin                17997
Riverview              15621
Palm Harbor            15017
Wesley Chapel          14336
Lutz                   13755
New Port Richey        13678
Tarpon Springs         12938
Indian Rocks Beach     12100
Pinellas Park          11897
Oldsmar                 8389
Seminole                6646
Spring Hill             6015
Safety Harbor           5237
Port Richey             5097
Plant City              4645
Valrico                 3974
Land O Lakes            3789
Hudson                  3579
Ruskin                  2902
Apollo Beach            2754
Zephyrhills             2323
Seffner                 2039
Holiday                 1573
Odessa                  1485
Sun City Center         1380
Lithia                  1127
Gibsonton                658
San Antonio              656
Palmetto                 307
Wimauma                  132
Brooksville              107
Balm                     105
Dade City                103
Thonotosassa              93
Dover                     57
Saint Leo                 23
Ozona                     10
Name: city_updated, dtype: int64

In [10]:
city_originals = merged_df['city_original'].value_counts().reset_index()

pd.set_option('display.max_rows', 130)

In [11]:
print(city_originals)

                       index  city_original
0                      Tampa         303232
1                 Clearwater          56377
2           Saint Petersburg          52885
3             St. Petersburg          36131
4                    Brandon          30091
5              St Petersburg          18514
6                    Dunedin          17876
7           Clearwater Beach          17647
8                      Largo          17202
9                  Riverview          15366
10            St. Pete Beach          14861
11               Palm Harbor          14314
12             Wesley Chapel          14270
13                      Lutz          13214
14            Tarpon Springs          12366
15             Pinellas Park          11773
16           New Port Richey          10851
17             Madeira Beach           9984
18        Indian Rocks Beach           9454
19             St Pete Beach           9071
20                   Oldsmar           8320
21           Treasure Island           7397
22                  Seminole           6480
23               Port Richey           5310
24             Safety Harbor           5237
25               Spring Hill           5003
26                Plant City           4645
27                   Valrico           3925
28                  Gulfport           3829
29                    Ruskin           3615
30            Temple Terrace           3600
31                    Hudson           3522
32          Saint Pete Beach           3382
33              Apollo Beach           2754
34                   Trinity           2602
35             Land O' Lakes           2600
36             Indian Shores           2548
37          Redington Shores           2472
38               Zephyrhills           2373
39                   Seffner           1977
40            South Pasadena           1612
41                   Holiday           1573
42                    Odessa           1567
43           Belleair Bluffs           1554
44     North Redington Beach           1506
45              Tierra Verde           1500
46              Land O Lakes           1359
47                 Tampa Bay           1282
48       North Redington Bch           1223
49                    Lithia           1092
50            Hernando Beach            937
51              Kenneth City            841
52           Sun City Center            669
53                 Gibsonton            658
54               San Antonio            495
55                     TAMPA            459
56   Clearwater/ Countryside            430
57               Citrus Park            419
58            Tarpon springs            401
59             Redingtn Shor            400
60               South Tampa            354
61                     Ozona            337
62                  Palmetto            307
63               Tampa Palms            289
64               Palm harbor            258
65                   St Pete            258
66             St.Petersburg            230
67                 Westchase            189
68              Belleair Blf            186
69       Hillsborough County            180
70       Pass-a-Grille Beach            154
71               Carrollwood            148
72                 Dade City            132
73                   St. Leo            132
74               Masaryktown            107
75                      Balm            105
76                   Wimauma            104
77              Thonotosassa             88
78           Southwest Tampa             79
79                     Dover             78
80                CLEARWATER             66
81              Land o lakes             58
82            ST. PETE BEACH             55
83                     LARGO             55
84                   BRANDON             54
85                   TRINITY             53
86          Town 'N' Country             53
87              Land o Lakes             49
88            ST. PETERSBURG             48
89              Land O'lakes             47
90              Tierre Verde             47
91             PINELLAS PARK             46
92             Bayonet Point             44
93             Tampa Florida             43
94          Town 'n' Country             42
95                     Mango             41
96                S.Pasadena             41
97                 RIVERVIEW             40
98                SPRINGHILL             34
99         Greater Northdale             33
100           Town n Country             31
101             Land O'Lakes             30
102          NEW PORT RICHEY             30
103                   LITHIA             27
104                 Pinellas             26
105          Redington Shore             25
106                Saint Leo             23
107                 Sun City             18
108              Twn N Cntry             18
109            Pinellas park             18
110                   HUdson             17
111       Largo (Walsingham)             16
112             Hernando Bch             16
113             Riverview Fl             14
114            N Redngtn Bch             11
115        Saintt Petersburg             11
116              TEMPLE TERR             10
117      Pinecrest West Park              9
118   Saint Petersburg Beach              9
119                  Lutz fl              9
120     Wyndlake Condominium              8
121                  wimauma              8
122                  Kenneth              8
123            Wesley chapel              8
124              Temple Terr              7
125               Thonosassa              5
126                 Tampa,Fl              5
127             St Petersurg              5

In [14]:
merged_df.isnull().sum()

business_id           0
name                  0
address            2284
city_original         0
state                 0
postal_code          24
latitude              0
longitude             0
stars_business        0
review_count          0
is_open               0
attributes          873
categories            0
hours             21904
review_id             0
user_id               0
stars_reviews         0
useful                0
funny                 0
cool                  0
text                  0
date                  0
zip_code            234
city_updated        234
dtype: int64

In [51]:
missing_rows = merged_df[merged_df.isnull().any(axis=1)]

missing_fields = ['address', 'name', 'postal_code', 'attributes', 'hours', 'zip_code', 'city_updated', 'city_original']

zip_missing = missing_rows[missing_rows['zip_code'].isnull()]
zip_missing = zip_missing[missing_fields]

westchase = zip_missing[zip_missing['city_original'] == 'Westchase']
westchase['name'].value_counts()

Nabruzzi Trattoria                       63
Enzo's Pizzeria & Pasta from New York    39
Name: name, dtype: int64

In [71]:
unique_businesses = merged_df.drop_duplicates(subset='business_id')

city_review_data = unique_businesses.groupby('city_updated').agg({
    'review_count': 'sum',
    'stars_business': 'mean',
    'stars_reviews': 'mean'
}).sort_values(by='review_count', ascending=False)

city_review_data[0:10]

                  review_count  stars_business  stars_reviews
city_updated
Tampa                   299059        3.603037       3.654801
Saint Petersburg        161221        3.671631       3.758865
Clearwater               43112        3.590391       3.697068
Clearwater Beach         29016        3.663265       3.503401
Brandon                  29000        3.456790       3.660494
Largo                    17836        3.543344       3.554180
Dunedin                  17220        3.817460       3.793651
Riverview                14931        3.354680       3.472906
Palm Harbor              14380        3.677725       3.767773
Wesley Chapel            13698        3.329268       3.390244

In [72]:
filename = "FL_Reviews_Edited" + ".csv"
out_path = "C:/Users/tokud/OneDrive/Documents/Machine Learning - UCSD Extension Springboard Course/Capstone/Datasets/" + filename

merged_df.to_csv(out_path, index=False)